body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  height: 100vh;
}

#faq-section {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  -ms-transform: translateY(-50%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 300px;
  padding-bottom: 40px;
}

#main-text {
  text-align: center;
}

.faq-rows {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-angle-down {
  color: orange;
  font-size: 15px;
}


#mobile-image-div {
 text-align: center;
}

#mobile-image {
  max-width: 70%;
  height: auto;
  margin-top:-90px;
}

#mobile-image-shadow {
  max-width: 70%;
  height: auto;
  margin-top:-90px; 
}